.movie-page {
  background-color: rgb(34, 33, 33);
  padding: 10px;
}
.movie-title {
  color: rgb(201, 199, 199);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}

.movie-trailer {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.movie-section {
  display: flex;
  flex-direction: row;
  color: white;
  height: 500px;
  background-color: rgb(82, 82, 82);
}

.movie-poster {
  height: 500px;
}

.movie-genre {
  padding: 10px;
  font-size: 20px;
  text-align: end;
}
.movie-full-description {
  padding: 10px;
  font-size: 18px;
}

.movie-list-actors {
  padding: 10px;
}
.actor-card {
  background-color: rgb(134, 134, 134);
}

.movie-actors {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: 1;
  grid-gap: 5px;
  justify-content: space-around;
  color: white;
  text-align: center;
}

.actor-name {
  padding: 5px;
  font-family: 20px;
}

.actor-rol {
  color: azure;
  font-size: 20px;
}
